.container1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-image: linear-gradient(90deg, grey, white 50%, grey);
}

#navHeader {
  font: bold 40px Verdana, sans-serif;
  text-align: center;
}

#nav-description {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


.nav-link {
  display: flex;
  margin: 0;
  padding: 10 10 10 10;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  text-decoration: none;
}

#nav-description {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#docfield {
  display: flex;
  flex-direction: column;
  border: 10px solid transparent;
  width: 60%;
  position: relative;
  top: 0;
  left: 18.5%;
}

#main-header {
  font-family: Verdana;
  font-weight: bold;
  padding-top: 25px;
}

.container2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  background-image: linear-gradient(90deg, grey, white 50%, grey);
}


li {
  font-family: Georgia;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

#description {
  padding-left: 5px;
}

#item {
  padding-left:20;
}

.code_section {
  background-color: f2f2f2;
  padding-left: 5;
  width: 100%;
}

#definition {
  padding-bottom: 10px;
}

.green_bold {
  color: green;
  font-weight: bold;
  padding-left:0;
  padding-right:0;
}

.green_normal {
  color:green;
  font-weight: normal;
  padding-left:0;
  padding-right:0;
}

.blue_normal {
  color: blue;
  font-weight: normal;
  padding-left:0;
  padding-right:0;
}

.brown_normal {
  color: brown;
  font-weight:normal;
  padding-left:0;
  padding-right:0;
}

.brown_bold {
  color: brown;
  font-weight:bold;
  padding-left:0;
  padding-right:0;
}

.purple_bold {
  color: purple;
  font-weight: bold;
  padding-left:0;
  padding-right: 0;
}

.grey_normal {
  color: grey;
  font-weight: normal;
  padding-left:0;
  padding-right: 0;
}

.red_normal {
  color: red;
  font-weight: normal;
  padding-left:0;
  padding-right: 0;
}

@media (min-width: 100%) and (max-width: 100%) {
  * {
    scroll-behavior: smooth;
  }
}
