:root {
  --blank-image: radial-gradient(ellipse, #fffff1, grey);
  --book-scroll: linear-gradient(90deg, grey, white 50%, grey);
}

body {
  background-color: white;
}

.blank1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--blank-image);
}

.blank2 {
  position: fixed;
  top:0;
  right:0;
  width: 10%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--blank-image); 
}

.container1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 10%;
  width: 15%;
  height: 100%;
  background-image: var(--book-scroll, grey);
}

.container2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 10%;
  width: 15%;
  height: 100%;
  background-image: var(--book-scroll, grey);
}


#navHeader {
  font: oblique 40px Papyrus, sans-serif;
  color: grey;
  text-align: center;
  padding: 100% 0 0 0;
}

.nav-link {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 10 10 10 10;
  font: bold 20px Papyrus, sans-serif;
  color: blue;
  text-decoration: none;
  overflow: hidden;
}

#nav-description {
  text-align: center;
  padding: 50% 0 50% 0;
  font: bold 30px Papyrus, sans-serif;
  overflow:hidden;
}

main {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
  width: 45%;
  position: relative;
  top: 0;
  left: 27.5%;
}

#main-header {
  font-family: Georgia;
  font-weight: bold;
  padding-top: 25px;
}

.main-section {
  padding-bottom: 50px;
}

.link-description {
  padding-top: 30px;
  font-size: 18px;
  text-align: center;
}

.other-links {
  text-decoration: none;
  font: italic 25px Papyrus;
  color: purple;
}

li {
  font-family: Georgia;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

#description {
  padding-left: 5px;
}

#item {
  padding-left:20;
}

.code_section {
  background-color: f2f2f2;
  padding-left: 5;
  width: 100%;
  z-index: 10;
}

#definition {
  padding-bottom: 10px;
}

.green_bold {
  color: green;
  font-weight: bold;
  padding-left:0;
  padding-right:0;
}

.green_normal {
  color:green;
  font-weight: normal;
  padding-left:0;
  padding-right:0;
}

.blue_normal {
  color: blue;
  font-weight: normal;
  padding-left:0;
  padding-right:0;
}

.brown_normal {
  color: brown;
  font-weight:normal;
  padding-left:0;
  padding-right:0;
}

.brown_bold {
  color: brown;
  font-weight:bold;
  padding-left:0;
  padding-right:0;
}

.purple_bold {
  color: purple;
  font-weight: bold;
  padding-left:0;
  padding-right: 0;
}

.grey_normal {
  color: grey;
  font-weight: normal;
  padding-left:0;
  padding-right: 0;
}

.red_normal {
  color: red;
  font-weight: normal;
  padding-left:0;
  padding-right: 0;
}

@media (min-width: 100%) and (max-width: 100%) {
  * {
    scroll-behavior: smooth;
  }
}
